<div class="border rounded-3 px-5 py-3 mxw-500 center">
  <div class="text-center">
    <div class="fs-2 mb-2">LOGOTYPE</div>
    <div class="fs-5 mb-3 fw-semibold">Password Recovery</div>
  </div>
  <div class="mb-3" *ngIf="!(isMessageSent$ | async); else enterVerificationCode">
    <div *ngIf="showEmailIsInvalid$ | async" class="alert alert-danger alert-dismissible fw-semibold">
      Email is invalid
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="mb-2">Please enter your email to reset your password</div>
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="sendMessage()">
      <div class="mb-2">
        <input class="form-control" type="email" placeholder="Email" formControlName="email"
               [class.is-invalid]="email.touched && email.invalid"
               [class.is-valid]="email.touched && email.valid">
        <div class="invalid-feedback">Valid email is required</div>
      </div>
    </form>
  </div>
  <ng-template #enterVerificationCode>
    <app-verification-code [email]="email.value" [successAction]="validCodeAction.bind(this)"></app-verification-code>
    <div class="alert alert-warning d-flex align-items-center mb-2" role="alert">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
           class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
           aria-label="Warning:">
        <path
          d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>
      <div class="ms-2">
        <div>Message waiting time: ~1 minute.</div>
        <div>Don't forget to check your spam :)</div>
      </div>
    </div>
  </ng-template>
  <button #sendMessageBtn type="button" (click)="sendMessage()" [disabled]="forgetPasswordForm.invalid"
          class="w-100 btn btn-warning">
    Send message {{(isMessageSent$ | async) ? 'again' : '' }}
  </button>
</div>
