<div class="center mxw-900">
  <h1 class="fs-5 fw-semibold border border-bottom-0 rounded py-3 ps-3 mb-0">Questionnaires</h1>
  <div class="border rounded py-3 px-5 mt-0">
    <div class="mb-4">
      <div routerLink="{{questionnaire.userId}}" *ngFor="let questionnaire of questionnaires.content"
           class="border mb-3 rounded d-flex align-items-center justify-content-between px-3 py-2 questionnaire">
        <div><span class="fw-semibold">Owner:</span> {{questionnaire.email}}</div>
        <div class="d-flex">
          <div class="me-4"><span class="fw-semibold">Fields:</span> {{questionnaire.fieldsCount}}</div>
          <div><span class="fw-semibold">Required:</span> {{questionnaire.requiredFieldsCount}}</div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <app-pagination *ngIf="questionnaires.metadata" [pageInfo]="questionnaires.metadata"
                      [basePath]="path" [centralLength]="3" [centralLeftIndent]="1"></app-pagination>
    </div>
  </div>
</div>
