<div class="modal fade" id="continueRegistration" tabindex="-1"
     aria-labelledby="accountActivationLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h1 class="modal-title fs-5 fw-semibold">Email verification</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <div>Registration is almost complete! We have sent a message to your email.</div>
          <div>Follow the instructions in the message to activate your account.</div>
          <div>Don't forget to check spam :)</div>
        </div>
        <div class="alert alert-warning d-flex align-items-center mb-0" role="alert">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
               class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
               aria-label="Warning:">
            <path
              d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
          <div>Waiting time for a message is about a minute</div>
        </div>
      </div>
      <div class="modal-footer justify-content-start">
        <button type="button" id="sendMessageBtn" (click)="sendMessage()" class="w-100 btn btn-warning">
          Send message again
        </button>
      </div>
    </div>
  </div>
</div>
