<div class="border rounded-3 py-3 center mxw-500">
  <div class="ps-3">
    <div class="fs-5 mb-3 fw-semibold">Change Password</div>
  </div>
  <hr class="mb-6"/>
  <form class="mx-5" [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
    <div class="mb-3">
      <label class="form-label">New Password</label>
      <input class="form-control" type="password" formControlName="newPassword"
             [class.is-invalid]="newPassword.touched && newPassword.invalid"
             [class.is-valid]="newPassword.touched && newPassword.valid">
      <div class="invalid-feedback" *ngIf="newPassword.invalid">
        <div *ngIf="newPassword.errors?.['required']">
          New password is required
        </div>
      </div>
    </div>
    <div class="mb-4">
      <label class="form-label">Confirm New Password</label>
      <input class="form-control" type="password" formControlName="confirmNewPassword"
             [class.is-invalid]="resetPasswordForm.errors?.['mismatch']"
             [class.is-valid]="confirmNewPassword.value && !resetPasswordForm.errors?.['mismatch']">
      <div class="invalid-feedback" *ngIf="resetPasswordForm.errors?.['mismatch']">Password does not match</div>
    </div>

    <button [disabled]="resetPasswordForm.invalid" type="submit" class="btn btn-primary w-25">Save</button>
  </form>
</div>

